
src/.vs/Channel_Nine/xs/sqlite3/storage.ide-wal
src/.vs/Channel_Nine/xs/sqlite3/db.lock
src/.vs/Channel_Nine/xs/sqlite3/storage.ide
src/.vs/Channel_Nine/xs/sqlite3/storage.ide-shm
src/.vs
src/Channel_Nine.Android/obj/Debug/*
src/Channel_Nine.Android/obj/*
src/Channel_Nine.Android/bin/Debug/*
src/Channel_Nine.Android/bin/*
src/Channel_Nine.iOS/obj/Debug/*
src/Channel_Nine.iOS/obj/*
src/Channel_Nine.iOS/bin/Debug/*
src/Channel_Nine.iOS/bin/*
src/Channel_Nine.UWP/obj/Debug/*
src/Channel_Nine.UWP/obj/*
src/Channel_Nine.UWP/bin/Debug/*
src/Channel_Nine.UWP/bin/*
/src/Channel_Nine/obj/*
/src/Channel_Nine/bin/*
*.stamp
*.pfx
